<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content" employee-id ='{{ employee.ID }}'>
    <a class="btn btn-success btn-xs" ng-if="employee.subordinates && employee.subordinates.length > 0" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
    </a>
    <a>
      {{employee.POSITION}}: {{employee.NAME}}
    </a>
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="delete(this)">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newEmployeeForm(this)" style="margin-right: 8px;">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
  <ol ui-tree-nodes="" ng-model="employee.subordinates" ng-class="{hidden: collapsed}">
    <li ng-repeat="employee in employee.subordinates" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>

<div class="row">
  <div class="col-sm-12">
    <h3>Employees</h3>
    <hr/>
    <div>
      <div ng-if="showEmployeeForm">
        <h4>Add New Employee</h4>
        <label>Manager: {{ manager.NAME }}</label>
        <form ng-submit="submitNewEmployee()">
          <input type="text" placeholder="Enter name" ng-model="newEmployee.NAME"/>
          <input type="text" placeholder="Enter position" ng-model="newEmployee.POSITION"/>
          <input type="submit" value="ADD"/>
        </form>
        <hr/>
      </div>
    </div>

    <button class="btn btn-default" ng-click="expandAll()">Expand all</button>
    <button class="btn btn-default" ng-click="collapseAll()">Collapse all</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div ui-tree id="tree-root">
      <ol ui-tree-nodes ng-model="employees">
        <li ng-repeat="employee in employees" ui-tree-node ng-include="'nodes_renderer.html'"></li>
      </ol>
    </div>
  </div>

  <div class="col-sm-6">
    <pre class="code">{{ employees | json }}</pre>
  </div>
</div>
